@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400,900&family=Pixelify+Sans:wght@700&display=swap');

html,
body,
#__next {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  background-color: #FFFFFF;
  color: #000000;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Pixelify Sans', sans-serif;
  font-weight: 700;
}

.card {
  background: #FFFFFF;
  border-radius: 24px;
  border: 1px solid #000000;
  padding: 32px;
}

button {
  background: #000000;
  color: #FFFFFF;
  border: none;
  padding: 15px 25px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 18px;
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
  transition: all 0.4s ease;
}

button:hover {
  background: #333333;
  transform: translateY(-3px);
}

input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #000000;
  background-color: #FFFFFF;
  color: #000000;
  font-family: 'Dosis', sans-serif;
  transition: all 0.3s ease;
}

input:focus {
  outline: none;
  border-color: #000000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
