html,body,#__next{height:100%}
body{margin:0;font-family:Inter,system-ui,-apple-system,'Segoe UI',Roboto,'Helvetica Neue',Arial}
button{background:#0b5; color:#001;border:none;padding:8px 10px;border-radius:6px;cursor:pointer}
input{padding:6px;border-radius:6px}